:root {
    --yellow: #eff963;
    --yellow2: #505144;
    --gold: #7c760c;
}
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    max-width: 100%;
}
header, main, footer {
    background-color: var(--yellow2);
    padding: 5px;
    border-radius: 10px;
}
header {
    color: white;
}
h1 {
    color: white;
    text-align: center;
}
body {
    background-color: var(--yellow);
}

nav li {
    margin: 2px 0px;
    list-style: none;
    width:100%;
    background-color: var(--yellow2);
}
nav a {
    display:block;
    padding: 10px;
    border: solid black 1px;
    width: 100%;
    margin-right: 0;
    background-color: var(--yellow2);
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
}
nav a:hover {
    background-color: white;
    color: black;
}
nav::after {
    display:none;
}
.navigation {
    
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding:0;
    margin: 0;
}
.navigation.open {
    display: flex;
}
nav ul {
    display: flex;
    flex-direction: column;
    width:100%;
    padding:0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-me, .student-photo, .courses {
        height: auto;
        max-width: 95%;
        min-width: 95%;
    }
    .student-photo img {
        max-height: 300px;
        max-width: 90%;
    }
    .about-me p {
        padding: 10px;
    }
    #menu {
        width: 100%;
        background-color: var(--yellow2);
        color:white;
        font-size: 20px;;
        border-radius: 10px;
    }
    .navigation {
        display: none;
        flex-direction: column;
        background-color: var(--yellow2);
    }
    .list {
        max-width: 100%;
    }
    .list section a {
        font-size: 5px;
    }
}

footer {
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    display: grid;
    
}
footer li {
    list-style: none;
    
}
footer div {
    border-radius: 10px;
}
footer ul {
    
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}
footer img {
    max-width: 50px;
    border-radius: 10px;
    list-style: none;
}
footer p, footer h3 {
    font-size: 15px;
    border-radius: 10px;
    color: white;
}

.grid div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
    align-items: center;
    padding: 10px;
}
.list div {
	display: flex;
	flex-direction: column;
}
.grid section {
    background-color: var(--yellow);
    border: 3px solid var(--gold);
    border-radius: 5px;
}
.grid section h2 {
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    margin-top: 0;
}
.grid section p, .grid section a {
    padding: 0px 10px;
    text-align: center;
    margin: 0;
}
.grid section a {
    display: block;
    margin: 0 auto;
}
.grid section img {
    background-color: var(--gold);
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
    max-width: 250px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 1rem #555;
}
.list {
    margin: 0 auto;
    
}
.list section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 0;
    margin-bottom: 0;
}
.list section img {
    display: none;
}
.list section h2 {
    font-size: 15px;
}
.list section p {
    font-size: 15px;
}
.list .level {
    display: none;
}
.buttons {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: 0 auto;
}
