@media screen and (min-width: 1025px) {
    #menu {
        display: none;
    }
    .navigation {
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--yellow2);
    }
    #join-chamber {
        position:absolute;
        padding: 50px;
        font-size: 50px;
        list-style: none;
        text-decoration: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: none;
    }
    #hero:hover #join-chamber {
        display: block;
        color: var(--yellow);
        background-color: var(--yellow2);
        border-radius: 20px;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.418);
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .list {
        max-width: 70%;
    }
    .weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 50%;
        margin: 0 auto;
    }
    .weather h2, .weather figure{
        grid-column: 1/2;
        text-align: center;
    }
    #forecast-div {
        grid-column: 2/3;
        text-align: center;
    }
    
    .spotlights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        width: 90%;
    }
    .spotlight-card img {
        margin-left: 10px;
        margin-right: 10px; 
    }
    #places {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}