@media screen and (min-width: 641px) {
    #menu {
        display: none;
    }
    .navigation {
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--yellow2);
    }
    .card {
        grid-template-areas: 
        "image name"
        "image description"
        "image address"
        "image button";
    }
    .card figure {
        width: 300px;
    }
    .card img:hover {
        border: 3px solid white;
        box-shadow: 2px 2px 2px 2px gray;
    }
}