#information { 
    width: 90%;
    background-color: var(--yellow);
    text-align: center;
    margin: 0 auto;
    border-radius: 30%;
    padding: 10px;
    font-size: 20px;

    animation: fadeColor 4s;
}

@keyframes fadeColor {
  from {
    background-color: rgb(170, 170, 0);
  }
  to {
    background-color: var(--yellow);
  }
}

@media screen and (min-width:600px){
    #information {
        width: 50%;
    }
}