
@media screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }
    h1 {
        grid-column: 1/4;
    }
    .about-me {
        grid-column: 1/3;
        height: 500px;
        margin-left: 20px;
        max-height: 500px;
    }
    .about-me p {
        padding: 30px;
        font-size: 40px;
        text-align: justify;
    }
    .student-photo {
        height: 500px;
        display: flex;
        grid-column: 3/4;
        width: 100%;

    }
    .student-photo img {
        height: 90%;
    }
    .courses {
        grid-column: 1/4;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #menu {
        display: none;
    }
    .navigation {
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--yellow2);
    }
    
    .courses h2 {
        grid-column: 1/4;
    }
    #courses {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
    footer ul {
        max-width: 30%;
        margin: auto auto auto auto;
    }
    .courses button {
        width: auto;
    }
    .course-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}