:root {
    --darkred:rgb(65, 0, 0);
    --lightred:rgb(255, 132, 132);
    --redgray: rgb(141, 102, 102);
}
* {
	font-family: Roboto, sans-serif;
}
header {
    background-color: var(--redgray);
    border: 1px solid black;
}
h1 {
    text-align: center;
    color: var(--darkred);
}
main {
    margin-top: 5px;
    border: 2px solid black;
    background-color: var(--redgray);
}
#cards {
    display: grid;
    grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
    background-color: var(--lightred);
    margin: 5px;
    border-radius: 5px;
    border: 5px solid var(--darkred);

}
.card h2 {
    text-align: center;
    font-weight: 100px;
}
.card p {
    padding-left:10px;
    font-weight: 400;
    text-align: center;
}
.card img {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    max-width: 300px;
}