@media screen and (min-width: 400px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 20px;
    }
    #hero {
        grid-column: 1/6;
    }
    main div p {
        font-size: 30px;
    }
    #description {
        grid-column: 1/3;
    }
    #items {
        grid-column: 3/6;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #items h2 {
        grid-column: 1/4;
    }

    #missionaries-stories {
        grid-column: 1/6;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        column-gap: 20px;
    }
    #missionaries-stories h2 {
        grid-column: 1/3;
    }
    main h1, .category, article {
        grid-column: 1/4;
    }
    
    .items {
        display: grid;
        grid-template-columns: auto;
        column-gap: 20px;
    }

    .category {
        width: 50%;
    }
    form {
        grid-column: 4/6;
    }
}