:root {
    --gray: rgb(110, 110, 110);
    --blue: #2e6a8d;
    --gold: #9a930b;
}
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    max-width: 100%;
}

nav li {
    margin: 2px 0px;
    list-style: none;
    width:100%;
    background-color: var(--gray);
}
nav a {
    display:block;
    padding: 10px;
    border: solid white 1px;
    width: 100%;
    background-color: var(--blue);
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
    
}
nav a:hover {
    background-color: white;
    color: black;
}
nav::after {
    display:none;
}
.navigation {
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.navigation.open {
    display: flex;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
    padding:0;
    margin: 0;
}

header, main, footer {
    width: 90%;
    margin: 0 auto;
    background-color: var(--gray);
}
body {
    background-color: var(--gray);
}

main div {
    width: 100%;
    background-color: var(--blue);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    animation: fadeIn 3s;
}
main div h1, main div p {
    color: white;
    padding: 5px;
}

#wireframes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#wireframes h1 {
    grid-column: 1/3;
}
#wireframes img {
    margin: 0 auto;
}
footer {
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--blue);
}
footer li {
    list-style: none;
    
}
footer div {
    border-radius: 10px;
}
footer ul {
    
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}
footer img {
    max-width: 50px;
    border-radius: 10px;
    list-style: none;
}
footer p, footer h3 {
    font-size: 15px;
    border-radius: 10px;
    color: white;
}
#menu {
    display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 

@media screen and (max-width: 600px) {
    #menu {
        display:initial;
        width: 100%;
        background-color: var(--blue);
        color:white;
        font-size: 20px;;
        border-radius: 10px;
    }
    .navigation {
        display: none;
        
        background-color: var(--gray);
    }
    footer {
        grid-template-columns: 1fr;
    }
}